{% extends "base.html" %}

{% block title %}
Shown Files from Zip
{% endblock %}

{% block header %}
Shown Files from Zip
{% endblock %}

{% block content %}
<div style="margin: 1% 5% 0% 5%;">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Filename</th>
                <th scope="col">Download</th>
            </tr>
        </thead>
        <tbody>
            {% for file in files %}
                <tr>
                    <td>{{ file }}</td>
                    <td><a href="{{ url_for('download_file', filename=file) }}">Click Here!</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div style="text-align : center; margin-top:10%; font-size:22px">
         <a class="text-dark" href="{{ url_for('upload_route') }}">Click Here for extracting more files!</a>
    </div>
</div>
{% endblock %}